/* your styles go here */
.nav-item {
  display: inline;
  float: left;
}

i.devicon-bootstrap-plain {
  font-size: 2rem;
}

i.devicon-html5-plain {
  font-size: 2rem;
}

i.devicon-javascript-plain {
  font-size: 2rem;
}

i.devicon-react-original {
  font-size: 2rem;
}
